// COLORS

$color-white: #fff;
$color-black: #000;

$color-title-dark: #28b485;
$color-title-light: #7ed56f;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark: #777;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-icon: #2196F3;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
// $bp-large: 62.5em;   // 1000px
$bp-large: 56.25em;   // 900px
$bp-medium: 50em;    // 800px;
$bp-small: 43.75em;    // 700px;
// $bp-small: 37.5em;    // 600px;
$bp-smallest: 31.25em;    // 500px;

