.home {
  display: grid;  
  grid-template-columns: 10% [center-start] 1fr [center-end] 10%;
  min-height: 80vh;
}

.home-wrapper {
  display: grid;
  height: 30rem;
  margin: auto; 
  grid-column: center-start / center-end;
  align-items: center;
  justify-items: stretch;
  text-align: center;
  
  & > * {
    display: grid;
    grid-column: 1 / -1;
  }
}