.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    margin: 2rem;
  }
}

.ticket {
  transition: all .2s;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

  display: grid;
  grid-template-rows: min-content 1fr;

  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .2s;
    margin: 0;
    padding: 2rem;

    &__text {
      font-family: $font-display;
      font-size: 2.6rem;
      font-weight: 400;
      padding-top: .5rem;
    }
    
    &__icon {
      fill: #004e92;
      width: 3rem;
      height: 3rem;
      margin-left: auto;
      cursor: pointer;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #004e92;
  padding: 1rem;

  @media only screen and (max-width: $bp-medium) {
    padding:.5rem;
  }
}

.grid-item {
 font-family: $font-display;
  font-size: 1.6rem;
  background-color: #fff8dc;
  border: .1px solid rgba(0, 0, 0, 0.774);
  padding: 2rem;
  text-align: center;
}